@model SelectList 
@{
    ViewBag.Title = "DishesList";
    Layout = "~/Areas/RestaurantAdmin/Views/Shared/ManageLayout.cshtml";
}



<link href="~/Styles/Dishes.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript">

    $(function () {
        $(".delDishes").click(function () {
            if (!confirm("Are your sure to delete?")) return;
            var dishesId = $(this).attr("name");
            $.post("/RestaurantAdmin/Dishes/DeleteDishes", { "dishesId": dishesId }, function (data, status) {
                if (data == "success") {
                    $("#" + dishesId).remove();
                    location.href = "DishesList";
                }
                else {
                    alert("Fail to delete Pictures");
                }
            });
        });
    });
</script>
@using (Html.BeginForm("QueryDishes", "Dishes", FormMethod.Post))
{
    <div id="dishcategory">
        Category：
        @Html.DropDownList("CategoryId",(SelectList)Model)
        &nbsp;<button type="submit">Search</button>
    </div>

    
}

<div id="dishlistdiv">
    @foreach (Models.Dish item in ViewBag.list)
    {
    <div class="dishlist-item" id="@item.DishesId">
        <div class="dishlist-img">
            <img src="~/Images/dishes/@item.DishesImg" alt="" />
        </div>
        <div class="dishlist-txt">
            Name：@item.DishesName
        </div>
        <div class="dishlist-txt">

            Category：@item.DishesCategory.CategoryName
        </div>
        <div class="dishlist-txt">
            Price：@item.UnitPrice
        </div>
        <div class="dishlist-txt">
            
            @Html.ActionLink("Modify", "LoadModifyDishes", new { dishesId = item.DishesId }, new { @class=""})
            <a href="javascript:void()" name="@item.DishesId" class="delDishes">Delete</a>&nbsp;&nbsp;
        </div>
    </div>
    }
</div>

