
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/RMain.cshtml";
}
<link rel="Shortcut Icon" href="~/Styles/Images/clogo.ico" />
<link href="~/Styles/MainPage.css" rel="stylesheet" />
<link href="~/Styles/MasterPage.css" rel="stylesheet" />

@model Models.Suggestion
@section lefttitle{

    <div class="lefttitle">
        Navigation
    </div>

}

@section content1{

    <div class="content1">
        <div class="conitem">
            <a href="#">Company</a>
        </div>
        <div class="conitem">
            <a href="#">Company Culture</a>
        </div>

        <div class="conitem">
            <a href="#">History</a>
        </div>
    </div>

}


@section lefttitle1{
    <div class="lefttitle">
        Contact Us
    </div>

}


@section content2
{
    <div class="content2">
        <div style="padding-left: 33px; padding-right: 0px; font: 12px/18px simsun; color: #3f3b32;">
            Address：Wellington CBD<br />

            Phone：04-66666666<br />
            <br />
            Fax：04-66666666<br />
            Email：boss@gmail.com
        </div>
    </div>

}


@section righttitle {

    <div class="righttitle">
        Current Location:Restaurant > About Us
    </div>

}


<div style="width: 675px; float: left; margin: 30px 0px 0px 40px; display: inline;
        color: #3F3B32;">
    <img style="float: left; margin: 0px 30px 0px 0px" alt="" src="~/Images/othermaster/company.jpg"
         border="0" />
</div>
<div style="width:650px;margin-left:48px;display:inline; margin-top:30px;float:left; line-height:30px;">
    Address：Wellington CBD<br />

    Phone：04-66666666<br />
</div>

