
@{
    ViewBag.Title = "Sourranding";
    Layout = "~/Views/Shared/RMain.cshtml";
}
<link rel="Shortcut Icon" href="~/Styles/Images/clogo.ico" />
<link href="~/Styles/MainPage.css" rel="stylesheet" />
<link href="~/Styles/MasterPage.css" rel="stylesheet" />
<link href="~/Styles/Dishes.css" rel="stylesheet" type="text/css" />

@model Models.Suggestion
@section lefttitle{

    <div class="lefttitle">
        Dishes Category
    </div>

}

@section content1{

   <div class="content1">
    <div class="conitem">
        <a href="#">Signature Dish</a>
    </div>
    <div class="conitem">
        <a href="#">Special Cuisine</a>
    </div>
    <div class="conitem">
        <a href="#">Latest Dishes</a>
    </div>
</div>

}





@section righttitle {

    <div class="righttitle">
        Current Location:Restaurant > Gallery
    </div>

}





    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="/Before/EnvironmentDetail">Gallery 1</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="/Before/EnvironmentDetail">Gallery 2</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing03.jpg" />
        </div>
        <div class="dishname">
            <a href="#">Gallery 3</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing04.jpg" />
        </div>
        <div class="dishname">
            <a href="#">Gallery 4</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing05.jpg" />
        </div>
        <div class="dishname">
            <a href="#">Gallery 5</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing06.jpg" />
        </div>
        <div class="dishname">
            <a href="#">Gallery 6</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="#">Gallery 7</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="#">Gallery 8</a>
        </div>
    </div>


